<!DOCTYPE html>
<html>

<head>
  <% include partials/head %>
</head>

<body>
  <% include partials/menu %>
  <div class="container-fluid bg-3 text-center">
    <h3><%= page %></h3> <br>
    <div class="row">
      <div class="col-sm-4">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum, nisi? Soluta vero magnam magni unde deserunt
          voluptatum eius libero beatae exercitationem a! Ex eius nam, rerum vel nobis facere quae animi optio assumenda
          maxime aperiam vitae quisquam tenetur error repellendus. Tempore deserunt ducimus autem eius perspiciatis iure
          alias provident officiis.</p>
      </div>
      <div class="col-sm-4">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum, nisi? Soluta vero magnam magni unde deserunt
          voluptatum eius libero beatae exercitationem a! Ex eius nam, rerum vel nobis facere quae animi optio assumenda
          maxime aperiam vitae quisquam tenetur error repellendus. Tempore deserunt ducimus autem eius perspiciatis iure
          alias provident officiis.</p>
      </div>
      <div class="col-sm-4">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum, nisi? Soluta vero magnam magni unde deserunt
          voluptatum eius libero beatae exercitationem a! Ex eius nam, rerum vel nobis facere quae animi optio assumenda
          maxime aperiam vitae quisquam tenetur error repellendus. Tempore deserunt ducimus autem eius perspiciatis iure
          alias provident officiis.</p>
      </div>
    </div>
  </div>
</body>
<% include partials/script %>
</html>